<div class="tarjetas">
  <div class="tarjeta">
    <div class="heroes">
      <img src="../../../assets/img/post-1.jpg" alt="" />
    </div>
    <h2 class="descripcion">Hero Name</h2>
    <div class="desc-heroes">
      <p>intelligence:</p>
      <p>speed:</p>
      <p>power:</p>
      <p>gender:</p>
      <p>race:</p>
    </div>
  </div>
  <div class="tarjeta">
    <div class="heroes">
      <img src="../../../assets/img/post-2.jpg" alt="" />
    </div>
    <h2 class="descripcion">Hero Name</h2>
    <div class="desc-heroes">
      <p>intelligence:</p>
      <p>speed:</p>
      <p>power:</p>
      <p>gender:</p>
      <p>race:</p>
    </div>
  </div>
  <div class="tarjeta">
    <div class="heroes">
      <img src="../../../assets/img/post-3.jpg" alt="" />
    </div>
    <h2 class="descripcion">Hero Name</h2>
    <div class="desc-heroes">
      <p>intelligence:</p>
      <p>speed:</p>
      <p>power:</p>
      <p>gender:</p>
      <p>race:</p>
    </div>
  </div>

  <div class="tarjeta">
    <div class="heroes">
      <img src="../../../assets/img/post-1.jpg" alt="" />
    </div>
    <h2 class="descripcion">Hero Name</h2>
    <div class="desc-heroes">
      <p>intelligence:</p>
      <p>speed:</p>
      <p>power:</p>
      <p>gender:</p>
      <p>race:</p>
    </div>
  </div>
  <div class="tarjeta">
    <div class="heroes">
      <img src="../../../assets/img/post-2.jpg" alt="" />
    </div>
    <h2 class="descripcion">Hero Name</h2>
    <div class="desc-heroes">
      <p>intelligence:</p>
      <p>speed:</p>
      <p>power:</p>
      <p>gender:</p>
      <p>race:</p>
    </div>
  </div>
  <div class="tarjeta">
    <div class="heroes">
      <img src="../../../assets/img/post-3.jpg" alt="" />
    </div>
    <h2 class="descripcion">Hero Name</h2>
    <div class="desc-heroes">
      <p>intelligence:</p>
      <p>speed:</p>
      <p>power:</p>
      <p>gender:</p>
      <p>race:</p>
    </div>
  </div>
</div>
